<h1>Login</h1>
<form method="post">
    <label class="form-lable">
        Username:
        <input class="form-control" type="text" name="username" required />
    </label>
    <label class="form-lable">
        Password:
        <input class="form-control" type="password" name="password" required />
    </label>
    <button class="btn btn-primary">Login</button>
</form>

@if (ViewBag.error != null)
{
    <div role="alert" style="z-index:3" class="notification toast show bg-danger z-3">
        <div class="toast-body">
            @ViewBag.error
        </div>
    </div>
}